<img src={{blogpost.image}} >
<h2>{{blogpost.title}}</h2>
<h4>{{blogpost.artist}}</h4>
<h4>{{blogpost.catagory}}</h4>
<h4>{{blogpost.date}}</h4>
<p>{{blogpost.article}}</p>
<button {{action 'delete' blogpost}}>Delete</button>
